* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ef5350;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    text-align: center;
    width: 90%;
    max-width: 800px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.login-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.illustration img {
    width: 100%;
    max-width: 300px;
}

.login-form {
    background-color: #d84315;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.login-form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.login-form p {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #ffccbc;
}

.label, .input-container {
    display: block;
    margin-bottom: 15px;
}

label {
    font-size: 0.9em;
    color: #ffccbc;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #ffab91;
    padding: 5px;
    border-radius: 5px;
}

.icon {
    margin-right: 10px;
}

input {
    border: none;
    outline: none;
    padding: 8px;
    background: transparent;
    color: #fff;
    width: 100%;
}

button {
    background-color: #ff7043;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5722;
}
label.left-align {
    text-align: left;
    display: block;
    font-size: 1em;
    color: #ffccbc;
}