body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.heading h1 {
    font-size: 48px;
    margin:auto;
 
    margin-left: 210px;
}
.welcome-section h2 {
    font-size: 32px;
    margin:auto;
 
    margin-left: 35px;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
    background-color: #bbdefb; /* Light blue table background */
}

th, td {
    border: 1px solid #64b5f6; /* Border color */
    padding: 10px;
    text-align: center;
    color: #0d47a1; /* Dark blue text color */
}

th {
    background-color: #42a5f5; /* Medium blue for header */
    color: white;
}

tr:nth-child(even) {
    background-color: #e1f5fe; /* Light blue for alternate rows */
}

tr:hover {
    background-color: #90caf9; /* Light blue highlight on hover */
}
